<!-- should not contain a complete html document with all the doctype and html, body, head tags -->
<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>